certifi==2025.6.15
charset-normalizer==3.4.2
colorama==0.4.6
decorator==4.4.2
docutils==0.21.2
filetype==1.2.0
idna==3.10
imageio==2.37.0
imageio-ffmpeg==0.6.0
instaloader==4.14.1
Kivy==2.3.1
kivy-deps.angle==0.4.0
kivy-deps.glew==0.3.1
Kivy-Garden==0.1.5
kivy_deps.sdl2==0.8.0
moviepy==1.0.3
numpy==2.3.1
pillow==11.2.1
proglog==0.1.12
Pygments==2.19.2
pypiwin32==223
python-dotenv==1.1.1
pywin32==310
requests==2.32.4
tqdm==4.67.1
urllib3==2.5.0
yt-dlp==2025.6.25
